
.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230 230 230);
  text-align: center;
  padding: 20px;
  border: 1px solid #ddbea9;
  background-color: #ffe8d6;
}

.card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h4, p {
  color: #1b4332
}
